/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* main header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.main-header .sx h2 {
    text-transform: uppercase;
    color: red;
}


/* app */
.app {
    min-height: 100vh;
    width: 100%;
    padding: 20px;
    background-color: #434343;
    text-align: center;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
}

/* movie template */

.movie {
    width: calc(100%/ 5);
    margin-bottom: 20px;
}

.movie > img {
    height: 500px;
}

.movie-content {
    list-style: none;
}

.movie-content span {
    font-weight: 700;
}

.movie-content .flag img {
    max-width: 20px;
}
