/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* list style */

.movie {
    margin-bottom: 20px;
}

.movie-content {
    list-style: none;
}

.movie-content span {
    font-weight: 700;
}

.movie-content img {
    max-width: 20px;
}
